{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}


<div class="content">
    <h1>Card</h1>
  
        <div class="card-nav">
            <ul>
                <li>
                    <a href="{{ url("deck") }}">Deck</a>
                </li>
                <li>
                    <a href="{{ url("shuffle") }}">Shuffled Deck</a>
                </li>
                <li>
                    <a href="{{ url("draw") }}">Draw a card</a>
                </li>
                <li>
                    <a href="{{ url("deck2") }}">Deck with jokers</a>
                </li>
                <li>
                    <a href="{{ url("api") }}">Json API</a>
                </li>
            </ul>
        </div>
</div>

{% endblock %}