{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}

    <h1>Drawn cards from a shuffled deck</h1>
    {% if numOfCards + cardToDraw > 52 %}
    <p>There is 52 cards in the deck, you have drawn {{ numOfCards }} and you think you can draw
    another {% if cardToDraw == 1 %}card? {% else %} {{ cardToDraw }}  cards? {% endif %} </p>
    <div class="draw-card">
        {% for card in data %}
            <img src="{{ asset('img/cards/' ~ card.imgPath ) }}" alt="{{ card.imgPath }}">
        {% endfor %}
    </div>

{% else %}
    <div class="draw-card">
        {% for card in data[0] %}
            <img src="{{ asset('img/cards/' ~ card.imgPath ) }}" alt="{{ card.imgPath }}">
        {% endfor %}
    </div>
    <div class="card-nav">
        <a href="{{ url("draw") }}"><h3>Draw another card</h3></a>
    </div>
    <h1>Rest of the deck</h1>
    <div class="card-content">
        {% for card in data[1] %}
            <img src="{{ asset('img/cards/' ~ card.imgPath ) }}" alt="{{ card.imgPath }}">
        {% endfor %}

    </div>
{% endif %}
{% endblock %}