{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}

    <h1>Drawn cards from a shuffled deck</h1>
    <div class="draw-card">
        {% for card in data[0] %}
            <img src="{{ asset('img/cards/' ~ card.imgPath ) }}" alt="{{ card.imgPath }}">
        {% endfor %}
    </div>
    <div class="card-nav">
        <a href="{{ url("draw") }}"><h3>Draw another card</h3></a>
    </div>
    <h1>Rest of the deck</h1>
    <div class="card-content">
        {% for card in data[1] %}
            <img src="{{ asset('img/cards/' ~ card.imgPath ) }}" alt="{{ card.imgPath }}">
        {% endfor %}

    </div>

{% endblock %}