<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <div>
        <img src="{{ absolute_url("/img/header_mvc.png") }}">
        </div>
        
        <div class="nav">
            <ul>
                <li>
                    <a href="{{ url("home") }}">Home</a>
                    <div class="hover-line"></div>
                </li>
                <li>
                    <a href="{{ path("report") }}">Report</a>
                    <div class="hover-line"></div>
                </li>
                <li>
                    <a href="{{ path("about") }}">About</a>
                    <div class="hover-line"></div>
                </li>
                <li>
                    <a href="{{ path("card") }}">Card</a>
                    <div class="hover-line"></div>
                </li>
                <li>
                    <a href="{{ path("reset") }}">Reset session</a>
                    <div class="hover-line"></div>
                </li>
            </ul>
        </div>
        <div class="main">
        {% block content %}
        Default content
        {% endblock %}
        </div>
        <div class="footer">
        Jonatan Robertsson, jorp21@student.bth.se
        <div class="logos">
            <a href="https://github.com/Jawnta/MVC"><img src="{{ absolute_url("/img/github_small.png") }}" alt="gh"></a>
        </div>
        </div>
    </body>
</html>
